
.banner-container{
    width: 100%;
    height: 700px;
    background-color: #312E81;
    padding: 30px 100px;
     font-family: "Segoe UI", sans-serif;
     display: flex;
}

.banner-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}



.banner-title h1{
   
    font-size: 48px;
    color: white;
}

.banner-title button{
    margin: 32px 0 0;
    padding: 20px 30px;
    font-size: 16px;
    background-color: white;
    color: #312E81;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.banner-left p{
    font-size: 20px;
    color: #C7F2FE;
    margin: 16px 0 0;
}

.banner-right{
    width: 50%;
    height: 100%;
   
      display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right-img-container{
    width: 90%;
    height: 90%;
  
}

.banner-right-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 2px 0.1px black;
}

@media (min-width: 7px) {

}