.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 25px;
    height: 60vh;
}

.cart-header{
    display: flex;
    flex-direction: column;

    height: 20%;
    width: 50%;
    gap: 5px;
    padding: 25px;
}

.cart-body{
   
    display: flex;

    height: 100%;
    width: 50%;
    gap: 5px;
    padding: 25px;
    gap: 20px;
}

.cart-products{
    width: 75%;
    display: flex;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 10px;
    flex-direction: column;
}

.cart-number-of-products{
    border-bottom: 1px solid #ccc;
    height: 20%;
    display: flex;
    align-items: center;
    width: 100%;
   
}

.order-products{
    height: 80%;
    width: 100%;
   
}

.order-product-row{
    height: 45%;
    width: 100%;
    padding: 10px;
    display: flex;
 
}

.order-product-image-container{
    width: 25%;
    height: 100%;

    
}
.order-product-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-product-informations{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 40%;
    padding: 5px 10px 5px 10px;
   
}


.order-product-name-price{
     display: flex;
    justify-content: space-between;
}
.order-product-category{
   
}

.order-product-store-name{
    display: flex;
    justify-content: space-between;
}

.quantity-input{
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-size: 14px;
    border: 1px solid #ccc;
    align-items: center;
}
.quantity-input button{
    width: 25%;
    padding: 4px 12px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    
}











.order-summary{
    width: 25%;
     background-color: white;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 10px;
}