.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
}

.cart-header{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    padding: 25px;
}

.cart-body{
    display: flex;
    width: 50%;
    gap: 20px;
    padding: 25px;
    height: 70vh;
}

.cart-products{
    width: 75%;
    display: flex;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 10px;
    flex-direction: column;
}

.cart-number-of-products{
    border-bottom: 1px solid #ccc;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.order-products{
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

.order-product-row{
    min-height: 150px;
    width: 100%;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.order-product-image-container{
    width: 25%;
    height: 130px;
    flex-shrink: 0;
}

.order-product-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-product-informations{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 5px 10px;
}


.order-product-name-price{
    display: flex;
    justify-content: space-between;
}

.order-product-store-name{
    display: flex;
    justify-content: space-between;
}

.quantity-input{
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-size: 14px;
    border: 1px solid #ccc;
    align-items: center;
}
.quantity-input button{
    width: 25%;
    padding: 4px 12px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    
}











.order-summary{
    width: 25%;
     background-color: white;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 10px;
}