.guitars-container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    
}

.guitar-grid {
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    padding: 80px 100px 60px 100px;
    width: 100%;
    gap: 50px;
}

.guitar-header {
    width: 100%;
    height: 200px;
    background-color:#312E81;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guitar-header h1 {
     font-size: 3rem;
    font-weight: 700;
    margin: 0 0 16px 0;
    letter-spacing: -0.5px;
    color: white;
}