.register {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F3F4F6;
  padding: 32px;
}

.register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}

.register-title h2 {
  color: #312E81;
  font-weight: bold;
  font-size: 30px;
}

.register-title p {
  color: #4B5563;
  font-size: 14px;
}

.register-form {
  height: 100%;
  width: 448px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 32px;
  margin-bottom: 50px;
}

.register-form-data {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.register-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #374151;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  height: 15%;
}

.form-group input {
  width: 100%;
  padding: 8px 12px;
  background-color: white;
  font-size: 16px;
  border: 1px solid #374151;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border: 1px solid #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.1);
}

.form-group input:active {
  border: 1px solid #4f46e5;
}

.form-group label {
  font-size: 14px;
  color: #374151;
  font-weight: 600;
}

.register-form button {
  cursor: pointer;
  width: 100%;
  padding: 10px 16px;
  font-size: 14px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.register-form button:hover {
  background-color: #4338ca;
}

.register-form p {
  color: #4B5563;
  font-size: 14px;
  text-align: center;
}

.register-form a {
  color: #4f46e5;
  font-weight: bold;
  text-decoration: none;
}

.register-form a:hover {
  text-decoration: underline;
}
